@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Nothing+You+Could+Do);/* Google font */

body>header {
    background: #FFA500;
    padding: 5px;
    text-align: center;
    font-size: x-large;
}

body>header>a>img, body>header a  {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px;
    font-size: 1.2em;
}

body>footer {
    background: #FFA500;
    padding: 5px;
    margin: 10px 0;
    text-align: center;
}

table th, table td {
    background: #DDD;
    padding: 5px;
}

ul#messages li {
    display: block;
    width: 80%;
    margin: 5px auto;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

ul#messages li.info {
    background: #7f7;
}

ul#messages li.error {
    background: #d00;
    color: white;
}

.validation-error {
    vertical-align: top;
    margin-left: 10px;
    color: red;
}

#logged-in-info {
    float: right;
    margin-top: 18px;
}

#logged-in-info form {
    display: inline-block;
    margin-right: 10px;
}

body>aside {
    float: right;
    width: 200px;
    background: #CCC;
    padding: 15px;
    margin-left: 20px;
}

body>aside h2 {
    margin: 5px 0px 15px 0px;
}

body>aside a {
    display: block;
    margin: 5px 0px;
    text-decoration: none;
}

body>main:after {
    content: '';
    display: block;
    clear: both;
}
h1 {
    color: #ff741b;
    text-align: center;
}
a:hover {
    background-color: #ffeff1;
}
a:link {
    text-decoration: none;
}
a:active {
    text-decoration: underline;
    text-align: center;
}
a:visited {
    color: #dd0000;
}
h2 {
    color: #ff5909;
}
body {
    background-color: #ffca84;
}
input[type=submit] {
    width: 50%;
    background-color: #ff7b31;
    color: white;
    padding: 10px 70px;
    margin: -10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding-bottom: 0%;
}
body {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 100% 720px;
}
.conteiner {
    width: 500px;
    height: 400px;
    text-align: center;
    background-color: #ff7138;
    margin-top: 150px;
    border-radius: 4px;
    margin: 0 auto;
}
.second-container {
    width: 500px;
    height: 500px;
    text-align: center;
    background-color: #ff7138;
    margin-top: 500px;
    border-radius: 7px;
    margin: 0 auto;
}
input {
    height: 45px;
    width: 300px;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 15px;
    padding-left: 170px;
    padding-bottom: 10px;
}
.form-input::before {
    content: "";
    position: absolute;
    font-family: "FontAwesome";
    font-size: 30px;
}
.new-form-input {
    width: 40%;
    height:10%;
    margin-top: 0%;
    padding-bottom: inherit;
}
.asideClass {
    background-color: #ffd034;
    padding-bottom: 100px;
}
table {
    background-color: #fff9d4;
    text-align: center;
}
table th, table td {
    background: #ff7b31;
}
a {
    color: #290016;
}
